.home-container {
  padding: 0px 0;
  width: 100%;
}
.svg-icons{
  height: 50px;
}
.card-container{
  background-color: none;
  margin-bottom: min(15px, 5vw);
}
.hero-section {
  padding: min(50px, 5vw);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1rem;
  margin-top: 10px;
}

.feature-card {
  z-index: 100;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.feature-icon {
  color: #007bff;
  margin-bottom: 10px;
}

.feature-card:nth-child(2) .feature-icon {
  color: #28a745;
}

button {
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
}
.footer {
  padding: 20px 0;
  margin-top: 40px;
}

.footer-text {
  font-size: 14px;
  color: #6c757d;
}

.footer-links a {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
.card-text{
  font-size: clamp(14px, 1.5vw, 16px);
}
.card-title{
  font-size: clamp(18px, 2vw, 20px);
}
.recommended-label {
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);  color: white;
  padding: 5px 8px;
  border-top-right-radius: 8px; /* ✅ Rounded only at the top-right */
  border-bottom-right-radius: 0px; /* 🔹 Keep other corners sharp */
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0px;
  font-size: 10px;
  font-weight: bold;
  z-index: 1;
}

.card-wrapper {
  position: relative;
  display: inline-block;
}

